<footer class="footer">
    <div class="container-fluid">
        <nav>
            <ul>
                <li>
                    <a href="https://github.com/morph1904/TygerCaddy">
                        TygerCaddy by morph1904
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright">
            &copy;
            <script>
                document.write(new Date().getFullYear())
            </script>
            , Lead Developer
            <a href="https://github.com/morph1904/" target="_blank">Morph1904</a>.
            Coded by
            <a href="https://www.creative-tim.com" target="_blank">Morph1904</a>.
        </div>
    </div>
</footer>