{% load static %}

<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 text-left">
               TygerCaddy on <a href="https://github.com/morph1904/TygerCaddy" target="_blank">Github</a>
            </div>
             <div class="col-md-4 text-center">
                <a href="https://caddyserver.com" target="_blank"><img class="caddy-logo" src="{% static '/img/party-front-caddy-back-black.png' %}"></a>
            </div>
            <div class="col-md-4 text-right">
                <div class="copyright">
                    &copy; {% now 'Y' %} Lead Developer <a href="https://github.com/morph1904/" target="_blank">Morph1904</a>.
                </div>
            </div>
        </div>
    </div>
</footer>