{% load static %}
{% load active_link_tags %}

<div class="sidebar" data-color="orange">

    <!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="{% url 'dashboard' %}" class="simple-text logo-normal">
                TygerCaddy
            </a>
        </div>
        <div class="sidebar-wrapper">
            <ul class="nav">
                <li class="{% active_link 'dashboard' %}">
                    <a href="{% url 'dashboard' %}">
                        <i class="now-ui-icons design_app"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li class="{% if request.path == '/hosts/config/edit/primary/' %} active {% endif %}">
                    <a href="{% url 'update-config' slug='primary' %}">
                        <i class="now-ui-icons loader_gear"></i>
                        <p>Configuration</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>