{% extends 'base/base.html' %}
{% load bootstrap4 %}
{% block content %}

    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header ">
                    <h5 class="card-category">Config</h5>
                    <h4 class="card-title">Setup DNS Challenge</h4>
                </div>
                <div class="card-body ">
                    <div class="alert-danger">WARNING: DNS Challenge has not been setup!
                    </div>
                    <p>Please make sure you have selected DNS Challenge in the setup screen.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


