{% extends 'base/base.html' %}
{% load bootstrap4 %}
{% block content %}
    <style>
        #customFile .custom-file-control:lang(en)::after {
            content: "Select file...";
        }

        #customFile .custom-file-control:lang(en)::before {
            content: "Click me";
        }

        /*when a value is selected, this class removes the content */
        .custom-file-control.selected:lang(en)::after {
            content: "" !important;
        }

        .custom-file {
            overflow: hidden;
        }

        .custom-file-control {
            white-space: nowrap;
        }
    </style>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header ">
                    <h5 class="card-category">Hosts</h5>
                    <h4 class="card-title">{{ view.title }}</h4>
                </div>
                <div class="card-body ">
                    <form action="" method="post" class="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="id_Certificate-cert_name">Cert name</label>
                            <input name="Certificate-cert_name" maxlength="200" class="form-control"
                                   placeholder="Cert name" title="" required="" id="id_Certificate-cert_name"
                                   type="text">
                        </div>
                        <div class="form-group">
                            <label for="id_Key-key_file">Key file</label>
                            <div class="row bootstrap4-multi-input">

                                <div class="col-12">
                                    <label class="custom-file" id="customFile">
                                        <input name="Key-key_file" type="file" class="custom-file-input"
                                               id="id_Key-key_file" aria-describedby="fileHelp">
                                        <span class="custom-file-control form-control-file"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_Bundle-bundle_file">Bundle file</label>
                            <div class="row bootstrap4-multi-input">
                                <div class="col-12">
                                    <label class="custom-file" id="customFile">
                                        <input name="Bundle-bundle_file" type="file" class="custom-file-input"
                                               id="id_Bundle-bundle_file" aria-describedby="fileHelp">
                                        <span class="custom-file-control form-control-file"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock %}



